[user]
        name = ************
        email = ************
[color]
        ui = true
[alias]
        co = checkout
        hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph
        br = branch --sort=-committerdate
        st = status
        type = cat-file -t
        dump = cat-file -p
        llog = log --all --graph
        linediff = diff --no-index --word-diff
[core]
        excludesfile = /Users/************/.gitignore
